<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Pagina 3</title>
    <link rel="stylesheet" href="CSS/pag3.css">
</head>
<body>
    <a class="user">
        <img src="IMAGENS/user2.png" alt="user/sharknado">
        </a>
    
        <div class="caixa">
        <h1>CADASTRO</h1>
        <form action="CSS/pag3.css" method="POST">
            <label for="cpf">CPF<br></label>
            <input type="text" id="cpf" name="cpf" placeholder="999.999.999-99"><br><br>
            <label for="data">Data de nascimento</label><br>
            <input type="text" id="data" name="data" placeholder="00/00/0000"><br><br>
            <label for="nome">Nome</label><br>
            <input type="text" id="nome" name="nome" placeholder="Jaime"><br><br>
            <label for="telefone">Telefone<br></label>
            <input type="text" id="telefone" name="telefone" placeholder="(XX)XXXXX-XXXX"><br><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email" placeholder="aluno.senai@gmail.com"><br><br>
            <label for="senha">Senha</label><br>
            <input type="text" id="senha" name="senha" placeholder="#SenhaSuperSecretaXD3"><br><br>
            <a href="" class="button">ENVIAR</a>
            <a href="Cadastro.html" class="voltar">VOLTAR</a>
            <a href="termos e  condições.html" class="termos">Termos e condições</a>
            <a href="" class="adicionar">Adicionar membros</a>
            <a class="logo">
                <img src="IMAGENS/logo.png" alt="Logo/sharknado">
                </a>
                <div class="caixa2">
                    <h1>Cadastro concluido</h1>
                    <a href="login.html" class="button2">Entrar</a>
                    <a href="Cadastro.html" class="voltar2">VOLTAR</a>
                </div>
        </form>
    </div>
</body>
</html>