<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharkpoints</title>
    <link rel="stylesheet" href="CSS/loja.css">
    
    <style>
        /*fundo daorinha*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1c1c1c;
    color: #fff;
    background-image: url('IMAGENS/fundo_daorinha.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 100%;
}
    </style>
</head>
<body>

    
    <div class="container">
        
        <div class="saldo">
            <p>SALDO ATUAL</p>
            <h2>196 SP</h2>
        </div>

        <div class="card">
            <div class="logo">
                <img src="IMAGENS/primeokok.png" alt="Prime Video">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 39</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="IMAGENS/netflixokok.png" alt="Netflix">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 47</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="IMAGENS/hbookok.png" alt="HBO Max">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 32</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="IMAGENS/paramountokok.png" alt="Paramount+">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 30</strong></p>
            </div>
            <button>OBTER</button>
        </div>


</body>
</html>