<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharkpoints</title>
    <link rel="stylesheet" href="loja.css">
    <style>
        /*fundo daorinha*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1c1c1c;
    color: #fff;
    background-image: url('fundo_daorinha.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 100%;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="saldo">
            <p>SALDO ATUAL</p>
            <h2>196 SP</h2>
        </div>

        <div class="card">
            <div class="logo">
                <img src="primeokok.png" alt="Prime Video">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 39</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="netflixokok.png" alt="Netflix">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 47</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="hbookok.png" alt="HBO Max">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 32</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="card">
            <div class="logo">
                <img src="paramountokok.png" alt="Paramount+">
            </div>
            <div class="info">
                <p>1 MÊS GRÁTIS</p>
                <p><strong>SP 30</strong></p>
            </div>
            <button>OBTER</button>
        </div>

        <div class="footer-left">
            <!-- Seção da esquerda contendo o logotipo e as informações de contato -->
            
            <img src="SAAEOK.png" alt="SAAE Salto" class="logo">
            <!-- Logotipo da empresa com uma classe para estilização -->
            
            <div class="contact-info">
              <!-- Div usada para agrupar as informações de contato -->
              
              <p class="contact-title">FALE CONOSCO</p>
              <!-- Título da seção de contato, com uma classe para estilização -->
              
              <!-- Ícone de casa -->
               <i class="fas fa-home"></i>
              
              <p>R. Nove de Julho, 1033 - Centro, Salto - SP, 13320-005</p>
              <!-- Parágrafo com o endereço da empresa -->
              
              <!-- Ícone de email -->
              <i class="fas fa-envelope"></i>
              
              <p><a href="mailto:ouvidoria@saaesalto.sp.gov.br">ouvidoria@saaesalto.sp.gov.br</a></p>
              <!-- Parágrafo contendo um link de e-mail -->
              
               <!-- Ícone de telefone -->
              <i class="fas fa-phone"></i>
              
              <p>0800 7796 300</p>
              <!-- Parágrafo com o número de telefone -->
              
            </div>
            <!-- Fim da div de informações de contato -->
            
          </div>
          <!-- Fim da seção da esquerda -->
          
          <div class="footer-right">
            <!-- Seção da direita contendo o logotipo adicional -->
            
            <img src="SENAassinatura.png" alt="assinatura" class="logo-adicional">
            <!-- Logotipo estilizado da direita, com uma classe para controle do tamanho -->
            
          </div>
          <!-- Fim da seção da direita -->
        </footer>
        <!-- Fim do rodapé -->
  

    </div>

</body>
</html>
