.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  /* Cor de fundo escura do rodapé */
  padding-left: 130px;
  /* Espaçamento interno do rodapé */
  color: white;
  /* Cor do texto */
  font-family: Arial, sans-serif;
  /* Fonte usada no rodapé */

}

.footer-left {
  display: flex;
  flex-direction: column;
  /* Organiza os elementos verticalmente na esquerda */
}

.logo {
  width: 170px;
  /* Define a largura do logotipo da esquerda */
  margin-bottom: 15px;
  /* Espaçamento abaixo do logotipo */
}

.contact-info {
  line-height: 1.0;
  /* Espaçamento entre linhas do texto de contato */
}

.contact-title {
  font-weight: bold;
  /* Deixa o título em negrito */
  margin-bottom: 25px;
  /* Espaçamento abaixo do título */
  font-size: 18px;
  /* Tamanho da fonte do título */
}

a {
  color: white;
  /* Cor dos links de e-mail */
  text-decoration: none;
  /* Remove o sublinhado padrão dos links */
}

a:hover {
  text-decoration: underline;
  /* Adiciona sublinhado ao passar o mouse */
}

.footer-right .logo-adicional {
  width: 300px;
  /* Define a largura do logotipo adicional à direita */
}

body {
  margin: 0;
  padding: 0;
}

.contact-info p i {
  margin-right: 5px;
}
