body {
    background-color: #252424;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

.caixa {
    width: 37%;         
    height: 470px;          
    background-color:#aeabab; 
    padding: 20px;                     
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 20px;
}

.button {
    background-color: #040404; 
    color: rgb(251, 247, 247); 
    padding: 10px 20px; 
    border: 5px; 
    cursor: pointer; 
    font-size: 20px;
    border-radius: 20px; 
    text-decoration: none;
    margin-left: 250px;
}

#cpf {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}
#data {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}
#nome {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}
#telefone {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}

#email {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}

#senha {
    width: 27%;
    height: 1px;
    background-color: #f6f0f0;
    padding: 10px;
    z-index: 1;
}

.voltar {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 16px;
    margin-right: 470px;
    text-decoration: none;
}

.logo {
    width: 0px; 
    height: 0px;
    margin-right: 0px;
    z-index: 1;
    position: absolute;
    bottom: 150px;
    right: 280px;
}

.user {
    width: 0px; 
    height: 530px;
    margin-right: 0px;
    z-index: 1;
    position: absolute;
    bottom: 150px;
    right: 720px;
    transform: scale(0.5);
}

.termos {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin-left: 375px;
    top: -170px;
}

.adicionar {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin-left: 375px;
    top: -160px;
}

    

