body {
    background-color: #252424;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.caixa {
    width: 37%;         
    height: 470px;          
    background-color:#3d3d3d; 
    padding: 20px;                     
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 20px;
}
h1 {
    text-align: center;
    letter-spacing: 2px;
}
.caixa2 {
    width: 45%;         
    height: 140px;          
    background-color:#c6c3c3; 
    padding: 20px;                     
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 20px;
    margin-top: -400px;
    right: 130px;
}

.button {
    background-color: #040404; 
    color: rgb(70, 69, 69); 
    padding: 10px 20px; 
    border: 5px; 
    cursor: pointer; 
    font-size: 20px;
    border-radius: 10px; 
    text-decoration: none;
    margin-left: 250px;
}

#cpf {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}
#data {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}
#nome {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}
#telefone {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}

#email {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}

#senha {
    width: 27%;
    height: 1px;
    background-color: #a9a6a6;
    padding: 10px;
    z-index: 1;
}
.voltar {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 16px;
    margin-right: 470px;
    text-decoration: none;
}

.logo {
    width: 0px; 
    height: 0px;
    margin-right: 0px;
    top: 380px;
    z-index: 1;
    position: absolute;
    bottom: 150px;
    right: 280px;
}

.termos {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin-left: 375px;
    top: -170px;
}

.adicionar {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
    position: relative;
    margin-left: 375px;
    top: -160px;
}

.button2 {
    background-color: #040404; 
    color: rgb(251, 247, 247); 
    padding: 10px 20px; 
    border: 5px; 
    cursor: pointer; 
    font-size: 20px;
    border-radius: 10px; 
    text-decoration: none;
    margin-left: 100px;
}

.voltar2 {
    color: rgb(3, 3, 3); 
    cursor: pointer; 
    font-size: 16px;
    margin-right: 470px;
    text-decoration: none;
}

/*rodapé*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding-left: 130px;
    color: white;
    font-family: Arial, sans-serif;
   
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    width: 170px;
    margin-bottom: 15px;
  }
  
  .contact-info {
    line-height: 1.0;
    
  }
  
  .contact-title {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 18px;
  
  }
  
  a {
    color: white;
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .footer-right .logo-adicional {
    width: 300px;
  
  }
  
  body {
    margin: 0;
    padding: 0;
  }